p {
    text-align: center;
    margin-bottom: 5px;
}

.tutoriel {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}


.macroForm, .vitForm {
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}

.vitForm, .laitForm {
    padding: 1.6em;
    text-align: center;
    border: 1px solid blue;
    width: fit-content;
    border-radius: 15px;
    margin-bottom: 2.4em;
}

.laitForm {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}


.vitForm p  {
    margin-bottom: 1.2em;
}

.vitForm button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.2em;
}

.products {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 68%;
    flex-wrap: wrap;
}

.productsByVit {
    display: flex;
    flex-direction: column;
}

.voTitle {
    font-size: 18px;
    margin-bottom: 1em;
    font-weight: 600;
}

.productsByVit .products {
    margin-bottom: 1.6em;
}

.product {
    width: 18%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1.5%;
}





