.interval, .croissant {
    border: 1px solid blue;
}

.interval, input, .croiDecroi {
    text-align: center;
}

.intervalFlex, .inpInterval, .croissantFlex {
    display: flex;
}

label, .filter {
    font-size: 14px;
    font-weight: bolder;
}

.inpInterval div, .interval {
    width: 50%;
}

.filter {
    margin-top: 0.8em;
}

h4 {
    margin: 1em auto 0.6em;
    font-size: 18px;
}

.intervalFlex {
    flex-wrap: wrap;
}

.interval {
    padding-bottom: 1em;
}

.interval:nth-child(1) {
    border-radius: 15px 0 0 0; 
    border-right: 0px;
    border-bottom: 0px;
}

.interval:nth-child(2) {
    border-radius: 0 15px 0 0; 
}

.interval:nth-child(3) {
    border-radius: 0 0 0 15px; 
}

.interval:nth-child(4) {
    border-radius: 0 0 15px 0; 
    border-left: 0px;
    border-top: 0px;
}

label {
    margin: 0;
    margin-left: 5px;
}

input {
    height: 18px;
    margin-left: 10px;
    width: 40px;
}

/*Enlever les flèches*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.croissant {
    border-radius: 25px;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.6em;
    margin-bottom: 1em;
    padding-bottom: 1em;
}

.croissantFlex {
    justify-content: space-evenly;
}

.croiDecroi {
    margin: 0.8em auto 1.6em;
}

.croissant button {
    font-size: 12px;
    font-weight: 900;
    padding: 0.8em 1.4em 0.8em;
}

