.productsByVit {
    display: flex;
    flex-direction: column;
}

.voTitle {
    font-size: 18px;
    margin-bottom: 1em;
    font-weight: 600;
}

.productsByVit .products {
    margin-bottom: 1.6em;
}

.product {
    justify-content: center;
    border: 1px solid blue;
    border-radius: 15px;
    padding: 5px;
    font-size: 14px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 4px;
}

.name {
    font-size: 15px;
}

.name, .price {
    font-weight: 500;
}

.price {
    font-size: 20px;
}

.action {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.action span {
    margin-left: 6px;
    margin-right: 6px;
}

.action button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.img {
    width: 200px;
    height: 180px;
}