<nav class="toHide" style="display: none;">
    <ul class="navigationProduct">
        <li class="btn-default" id="junk" (click) = "changeCat($event)" (click) =  "getCategory($event)">Junk</li>
        <li class="btn-default" id="entree" (click) = "changeCat($event)" (click) = "getCategory($event)">Entrées</li>
        <li class="btn-default" id="legume" (click) = "changeCat($event)" (click) = "getCategory($event)" >Légumes</li>
        <li class="btn-default" id="plat" (click) = "changeCat($event)" (click) =  "getCategory($event)">Plat</li>
        <li class="btn-default" id="laitage" (click) = "changeCat($event)" (click) = "getCategory($event)" >Laitages</li>
        <li class="btn-default" id="fruit" (click) = "changeCat($event)" (click) = "getCategory($event)" >Fruits</li>
        <li class="btn-default" id="dessert" (click) = "changeCat($event)" (click) = "getCategory($event)" >Desserts</li>
    </ul>
</nav>
