h1 {
    font-size: 26px;
    margin-bottom: 1.2em;
}

.contImg {
    position: relative;
}

.infosCont p, .product p {
    margin: 0;
}

.prodImg, .prodContainer, .infosCont {
    width: 80%;
}

.prodContainer, h2, .product p {
    padding: 0;
}

.prodContainer, .product, .infosCont, .description, .columnsContainer, .macro, .vitamines, .mineraux {
    display: flex;
}

.description, .infosCont {
    justify-content: space-evenly;
}

.prodContainer, .infosCont, .description {
    align-items: center;
}

.description, .prodContainer, .macro, .vitamines, .mineraux {
    flex-direction: column;
}

.prodContainer {
    margin-left: auto;
    margin-right: auto;
}

.product {
    border: 2px solid blue;
    border-radius: 25px;
    padding: 10px;
    width: 30%;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2em;
}

h2 {
    line-height: 1.1;
    font-size: 22px;
    font-weight: 700;
}

.infosCont {
    padding: 1em;
}

.infosCont div {
    border: 1px solid blue;
}

.infosCont p {
    padding: 4px 0;
}

.product p{
    font-weight: 700;
    font-size: 17px;
    margin-left: 8%;
}

#prodCat {
    text-transform: uppercase;
    color: grey;
    font-weight: 400;
    font-size: 11px;
}

#prodPrice {
    margin-top: 1%;
    color: grey;
    font-size: 16px;
}

.macro, .vitamines, .mineraux {
    text-align: center;
}

.title {
    border-bottom: 3px solid greenyellow;
}

.extra {
    padding: 0 12px;
}

