<h2>Create Product-Info</h2>
<form (ngSubmit) = "onSubmit()">
<div class="form-group">
<label>Mass</label>
<input type="number" class="form-control" id="mass"
[(ngModel)] = "productInfo.mass" name = "mass">
</div>
<div class="form-group">
<label>Calories</label>
<input type="number" class="form-control" id="calories"
[(ngModel)] = "productInfo.calories" name = "calories">
</div>
<div class="form-group">
<label>totalCarbo</label>
<input type="number" class="form-control" id="totalCarbo"
[(ngModel)] = "productInfo.totalCarbo" name = "totalCarbo"> <!--Refers to product.ts-->
</div>
<div class="form-group">
<label>Sugars</label>
<input type="number" class="form-control" id="sugars"
[(ngModel)] = "productInfo.sugars" name = "sugars">
</div>
<div class="form-group">
<label>Protein</label>
<input type="number" class="form-control" id="protein"
[(ngModel)] = "productInfo.protein" name = "protein">
</div>
<div class="form-group">
    <label>TotalFat</label>
    <input type="number" class="form-control" id="totalFat"
    [(ngModel)] = "productInfo.totalFat" name = "totalFat">
</div>
<div class="form-group">
    <label>saturatedFat</label>
    <input type="number" class="form-control" id="saturatedFat"
    [(ngModel)] = "productInfo.saturatedFat" name = "saturatedFat">
</div>
<div class="form-group">
    <label>dietaryFibre</label>
    <input type="number" class="form-control" id="dietaryFibre"
    [(ngModel)] = "productInfo.dietaryFibre" name = "dietaryFibre">
</div>
<div class="form-group">
    <label>Energy</label>
    <input type="number" class="form-control" id="energy"
    [(ngModel)] = "productInfo.energy" name = "energy">
</div>
<div class="form-group">
    <label>Sodium</label>
    <input type="number" class="form-control" id="sodium"
    [(ngModel)] = "productInfo.sodium" name = "sodium">
</div>

<button class="btn btn-success" type="submit">Submit</button>
</form>