.cheeseOrYog, .inpInterval, .intervalFlex, .advSearch, .croissantFlex {
    display: flex;
}

ul, li {
    margin: 0;
    padding: 0;
}

input, .interval {
    text-align: center;
}

.interval, .croissant {
    border: 1px solid blue;
}

.cheeseOrYog {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
}

.laitForm {
    margin-top: 2.2em;
}

.cheeseOrYog li {
    margin: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.filter {
    margin-top: 0.8em;
    font-size: 14px;
    font-weight: bolder;
}

h4 {
    margin-bottom: 0.6em;
    margin-top: 1em;
    font-size: 18px;
}

.intervalFlex {
    flex-wrap: wrap;
}

.interval {
    width: 50%;
    padding-bottom: 1em;
}

.interval:nth-child(1) {
    border-radius: 15px 0 0 15px; 
    border-right: 0px;
}

.interval:nth-child(2) {
    border-radius: 0 15px 15px 0; 
}

.inpInterval div {
    width: 50%;
}

/*!!! Faire en sorte de ne pas avoir la virgule  */
label {
    margin: 0;
    margin-left: 5px;
    font-size: 14px;
    font-weight: bolder;
}

input {
    height: 18px;
    margin-left: 10px;
    width: 40px;
}

/*Enlever les flèches*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.advSearch {
    margin-top: 2em;
    justify-content: center;
}

.croissant {
    border-radius: 25px;
    width: 30%;
    margin: 0.6em 2% 1em 2% ;
    padding: 1em;
}

.croissantFlex {
    justify-content: space-evenly;
}

.croiDecroi {
    margin: 0.8em auto 1.6em auto;
}

.croissant button {
    font-size: 12px;
    font-weight: 900;
    padding: 0.8em 1.4em 0.8em;

}

