.toHide {
    display: block !important; 
}

aside {
    margin: 1em auto 2em;
}

input, aside, .interval, .croiDecroi {
  text-align: center;
}

.buttons, .intervalFlex, .inpInterval, .croissantFlex{
  display: flex;
}

.buttons, .croissant {
  margin-left: auto;
  margin-right: auto;
}

.buttons, .stepsList, .interval {
  border: 1px solid blue;
}

.stepsList, .croissant {
  border-radius: 25px;
}

.filter, label {
  font-size: 14px;
  font-weight: bolder;
}

li {
    padding-bottom: 0.6em;
}

.buttons {
    justify-content: space-between;
    background-color: white;
    border-radius: 15px;
    padding: 0.8em 0.6em 0.8em;
    width: fit-content;
    margin-bottom: 1.6em;
}

.stepsList {
    padding-top: 1.6em;
    width: 100%;
}

.tutorialSurlignement {
    animation: tutoBlue 2s linear 0s 1;
}

.tutorialSurlignementRed {
    animation: tutoRed 2s linear 1.2s 1;
}

.tutorialBorder {
    animation: tutoBorder 2s linear 0s 1;
}

.tutorialSize {
    animation: tutoSize 2s linear 0s 1;
}

.filter {
    margin-top: 0.8em;
}

h4 {
    margin-bottom: 0.6em;
    margin-top: 1em;
    font-size: 18px;
}

.intervalFlex {
    flex-wrap: wrap;
}

.interval {
    width: 50%;
    padding-bottom: 1em;
}

.interval:nth-child(1) {
    border-radius: 15px 0 0 0; 
    border-right: 0px;
    border-bottom: 0px;
}

.interval:nth-child(2) {
    border-radius: 0 15px 0 0; 
}

.interval:nth-child(3) {
    border-radius: 0 0 0 15px; 
}

.interval:nth-child(4) {
    border-radius: 0 0 15px 0; 
    border-left: 0px;
    border-top: 0px;
}



.inpInterval div {
    width: 50%;
}

/*!!! Faire en sorte de ne pas avoir la virgule  */
label {
    margin: 0;
    margin-left: 5px;
}

input {
    height: 18px;
    margin-left: 10px;
    width: 40px;
}



/*Enlever les flèches*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.croissant {
    border: blue 1px solid;
    width: 45%;
    margin-top: 0.6em;
    margin-bottom: 1em;
    padding-bottom: 1em;
}

.croissantFlex {
    justify-content: space-evenly;
}

.croiDecroi {
    margin: 0.8em auto 1.6em;
}

.croissant button {
    font-size: 12px;
    font-weight: 900;
    padding: 0.8em 1.4em 0.8em;
}

  @keyframes tutoBlue {
    0% {
        background-color: aqua;
        border: 0px solid blue;
      }
      25% {
        background-color: white;
        border: 6px solid blue;
      }
      50% {
        background-color: aqua;
          border: 0px solid blue;
        }
      75% {
        background-color: white;
      border: 6px solid blue;
      }
      100% {
        background-color: aqua;
        border: 0px solid blue;
      }
  }

  @keyframes tutoSize {
    0% {
        width: 45%;
        background-color: aqua;
        border: blue 1px solid;
      }
      25% {
        width: 60%;
        background-color: white;
        border: 6px solid blue;
      }
      50% {
        width: 45%;
        background-color: aqua;
        border: blue 1px solid;
        }
      75% {
        width: 60%;
        background-color: white;
        border: 6px solid blue;
      }
      100% {
        width: 45%;
        background-color: aqua;
        border: blue 1px solid;
      }
  }


  @keyframes tutoRed {
    0% {
        background-color: rgb(7, 255, 69);
        border: 0px solid rgb(4, 88, 11);
      }
      25% {
        background-color: white;
        border: 6px solid rgb(4, 88, 11);
      }
      50% {
        background-color: rgb(7, 255, 69);
        border: 0px solid rgb(4, 88, 11);
        }
      75% {
      background-color: white;
      border: 6px solid rgb(4, 88, 11);
    }
      100% {
        background-color: rgb(7, 255, 69);
      border: 0px solid rgb(4, 88, 11);
    }
  }



  @keyframes tutoBorder {
    0% {
      border: 0px solid blue;
    }
    25% {
      border: 6px solid blue;
    }
    50% {
        border: 0px solid blue;
      }
    75% {
    border: 6px solid blue;
    }
    100% {
    border: 0px solid blue;
    }
  }
