.toHide {
    display: block !important;
}

p {
    text-align: center;
    margin-bottom: 5px;
}

.products, .productsByVit {
    display: flex;
}

.tutoriel, .macroForm, .vitForm, .laitForm, .vitForm button, .products {
    margin-left: auto;
    margin-right: auto;
}

.tutoriel {
    width: 65%;
}

.macroForm, .vitForm {
    width: 45%;
}

.vitForm, .laitForm {
    padding: 1.6em;
    text-align: center;
    border: 1px solid blue;
    width: fit-content;
    border-radius: 15px;
    margin-bottom: 2.4em;
}

.laitForm {
    width: 40%;
}

.vitForm p, .vitForm button  {
    margin-bottom: 1.2em;
}

.products {
    width: 68%;
    flex-wrap: wrap;
}

.productsByVit {
    flex-direction: column;
}

.voTitle {
    font-size: 18px;
    margin-bottom: 1em;
    font-weight: 600;
}

.productsByVit .products {
    margin-bottom: 1.6em;
}

.product {
    width: 18%;
    margin: auto 1% 1.5%;

}





