<ul>
    <li>
        Fromages
    </li>
    <li>
        Yaourts
    </li>
</ul>

<h3>Nutriments pour 100g</h3>
<div class="intervalFlex">
    <div class="interval">
        <h4>Calories</h4>
        <div class="inpInterval">
            <div>
                <label for="minCalo">Au minimum : </label>
                <input class="inp" id="minCalo" type="number" name="minCalo" [placeholder]="minimalCalo" [(ngModel)]="minCalo">
            </div>
            <div>
                <label for="maxCalo">Au maximum : </label>
            <input class="inp" id="maxCalo" type="number" name="maxCalo"  [placeholder]="maximalCalo" [(ngModel)]="maxCalo">
            </div>  
        </div>
        <button (click)="onCalorieFilterClick()" class="filter btn-default" >Filter by <br> Calories</button>  
    </div>
    <div class="interval">
        <h4>Protéines</h4>
        <div class="inpInterval">
            <div>
                <label for="minProt">Au minimum : </label>
                <input class="inp" id="minProt" type="number" name="minProt" [placeholder]="minimalProt" [(ngModel)]="minProt">
            </div>
            <div>
                <label for="maxProt">Au maximum : </label>
                <input class="inp" id="maxProt" type="number" name="maxProt" [placeholder]="maximalProt" [(ngModel)]="maxProt">
            </div>
        </div>
        <button (click)="onProtFilterClick()" class="filter btn-default" >Filter by <br> Proteins</button>  
    </div>
</div>

<div class="croissant " id="croissant">
    <p class="croiDecroi">Retirer les produits trop gras ? <br> 
    <span class="precision">Tout gras n'est pas forcément mauvais, même saturé ! <br>
         Dans un yaourt, un taux entre 2% et 4% de MG est idéal</span></p>
    <div class="croissantFlex">
        <button (click)="noFat()" class="btn-default">On dégraisse !</button>
    </div>
</div>
<div class="croissant " id="croissant">
    <p class="croiDecroi">Vous cherchez du calcium ? <br> 
    <span class="precision">Cliquer sur ce bouton vous donnera les yaourts riches en calcium et autres oligo-éléments </span></p>
    <div class="croissantFlex">
        <button (click)="moreCalcium()" class="btn-default">Go</button>
    </div>
</div>
<div class="croissant " id="croissant">
    <p class="croiDecroi">Des vitamines dans du yaourt ? <br> 
    <span class="precision">Oui ! Mais c'est très inégal, cliquez ici pour une sélection vitaminée ! </span></p>
    <div class="croissantFlex">
        <button (click)="moreVitamins()" class="btn-default">Go</button>
    </div>
</div>